<nav>
    {% render 'header' %}
</nav>
{% schema %}
    {
        "name": "Banner",
        "settings": [],
        "presets": [
            {
                "name": "banner"
            }
        ]
    }
    {% endschema %}